[submodule "Cobalt-iOS"]
	path = Cobalt-iOS
	url = https://github.com/cobaltians/Cobalt-iOS.git
	branch = cobalt1.0
[submodule "www"]
	path = www
	url = https://github.com/Cobaltians-Samples/Samples-HelloWorld-Web.git
	branch = cobalt1.0
